<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="https://res.layui.com/layui/release/layer/dist/layer.js?v=3111"></script>
</head>
<body>
login
<form class="login">
    <input name="account" placeholder="account" type="text">
    <input name="password" placeholder="password" type="text">
    <button type="button" class="loginButton">提交</button>
</form>
注册
<form class="register">
    <input name="nickname" placeholder="nickname" type="text">
    <input name="account" placeholder="account" type="text">
    <input name="password" placeholder="password" type="text">
    <input name="superior" placeholder="推荐人" type="text">
    <button type="button" class="registerButton">注册</button>
</form>
<script>
    $(".loginButton").click(function () {
        $.post("/login",$(".login").serialize(),function (res) {
            layer.msg(res.code)
        },'json')
    });
    $(".registerButton").click(function () {
        $.post("/register",$(".register").serialize(),function (res) {
            layer.msg(res.code)
        },'json')
    });
    $.get('/bulletin/list',function (res) {
        console.log('公告列表',res);
    },'json');
    $.get('/bulletin/1',function (res) {
        console.log('公告详情',res);
    },'json');
    $.get('/shop/list',function (res) {
        console.log('商品列表',res);
    },'json')
    $.get('/shop/detailGet/3',function (res) {
        console.log('商品详情',res);
    },'json')
</script>
</body>
</html>