<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/public/layui/css/layui.css" rel="stylesheet" type="text/css" />
	<link href="/static/index/css/default.css" rel="stylesheet" type="text/css" />
	<script src="/static/public/js/jquery-2.1.4.min.js"></script>
	<script src="/static/public/layui/layui.all.js"></script>
	<script src="/static/index/js/default.js"></script>
</head>
<body>
    <div class="memberJoinclause">
        <div class="loginTitle fontCenter">注册协议</div>
        <div class="memberJoinclauseContent">
            <div>一.青少年用户特别提示</div>
            <div style="margin-left:15px">责任博彩：</div>
            <div style="margin-left:15px">本平台极力拒绝未成年玩家在我们平台游戏，同时渴望每一位会员享受到“小赌怡情、适可而止”博彩乐趣，希望会员在投注时体验到在线博弈带来的乐趣同时、
                不会由于博彩娱乐影响到每位玩家的财政状况与生活。。</div>
        </div>
        <div class="memberJoinclauseFoot">
            <div class="memberJoinclauseCheck">
                <input type="checkbox">
                已满18周岁,且同意本站
                『用户注册协议』
            </div>
        </div>
    </div>
</body>
</html>