{include file="public/userHead" /}
<div class="memberCenterRight">
	<div class="bankAddView">
			<div class="cashType">
					<a href="/wallet/cashCoupon" class="active">代金券充值</a>
					<a href="/wallet">转账汇款</a>
				</div>
		<div class="bankAddForm" style="height:230px">
				
			<div>
				<span><font>*</font>代金券账号</span>
				<input type="text">
				<span class="bankTip"><font>*</font>请输入代金券账号</span>
			</div>
			<div>
					<span><font>*</font>代金券密码</span>
					<input type="text">
					<span class="bankTip"><font>*</font>请输入代金券密码</span>
			</div>
			<div class="bankAddBtn">
				<button>确认充值</button>
			</div>

		</div>
	</div>
</div>
{include file="public/userFoot" /}