{include file="public/userHead" /}
<div class="memberCenterRight">

	<div class="memCenterRightContent">
		<div class="searchForm">
			<form class="layui-form" action="">
				<div class="layui-form-item">

					<div class="layui-inline">
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="">
								<option value="0">失败</option>
								<option value="1">成功</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-input-inline">
							<input type="text" class="layui-input" placeholder="아이디">
						</div>
					</div>

					<button class="layui-btn">确认</button>
				</div>


			</form>
		</div>
		<table class="defaultTable">
			<thead>
				<tr>
					<th>序号</th>
					<th>申请ID</th>
					<th>时间</th>
					<th>充值前金额</th>
					<th>充值金额</th>
					<th>充值后金额</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>4</td>
					<td>게이지01</td>
					<td>2018-9-27 13:13:03</td>
					<td>2,000</td>
					<td>1,000</td>
					<td>3,000</td>
					<td>成功</td>
				</tr>
				<tr>
					<td>3</td>
					<td>게이지01</td>
					<td>2018-9-27 13:13:03</td>
					<td>2,000</td>
					<td>1,000</td>
					<td>3,000</td>
					<td>失败</td>
				</tr>
				<tr>
					<td>2</td>
					<td>게이지01</td>
					<td>2018-9-27 13:13:03</td>
					<td>2,000</td>
					<td>1,000</td>
					<td>3,000</td>
					<td>失败</td>
				</tr>
				<tr>
					<td>1</td>
					<td>게이지01</td>
					<td>2018-9-27 13:13:03</td>
					<td>2,000</td>
					<td>1,000</td>
					<td>3,000</td>
					<td>失败</td>
				</tr>
			</tbody>
		</table>


		<div class="tablePage">
			<div id="layui-table-page1">
				<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-2"><a href="javascript:;" class="layui-laypage-prev layui-disabled"
					 data-page="0"><i class="layui-icon"></i></a><span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span><a
					 href="javascript:;" data-page="2">2</a><a href="javascript:;" data-page="3">3</a><span class="layui-laypage-spr">…</span><a
					 href="javascript:;" class="layui-laypage-last" title="尾页" data-page="100">100</a><a href="javascript:;" class="layui-laypage-next"
					 data-page="2"><i class="layui-icon"></i></a><span class="layui-laypage-skip">到第<input type="text" min="1" value="1"
						 class="layui-input">页<button type="button" class="layui-laypage-btn">确定</button></span><span class="layui-laypage-count">共
						1000 条</span>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public/userFoot" /}