
{include file="public/userHead" /}
<div class="memberCenterRight">

	<div class="memCenterRightContent">
		<table class="defaultTable serviceWrite">
			<thead>
				<tr>
					<th width="70">标题</th>
					<th><input type="text"></th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th width="70">内容</th>
					<th><textarea></textarea></th>
				</tr>
			</thead>
		</table>

		<div class="viewBottomBtn">
			<a href="/service/list" class="layui-btn">确定</a>
			<a href="/service/list" class="layui-btn layui-btn-primary">返回</a>
		</div>
	</div>
</div>
{include file="public/userFoot" /}