<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="/static/public/layui/css/layui.css" rel="stylesheet" type="text/css" />
	<link href="/static/index/css/default.css" rel="stylesheet" type="text/css" />
	<script src="/static/public/js/jquery-2.1.4.min.js"></script>
	<script src="/static/public/layui/layui.all.js"></script>
	<script src="/static/index/js/default.js"></script>
</head>
<body class="errorBgColor">
	<div class="errorContent">
		<div class="errorImg">
			<img src="/static/index/img/error.png">
		</div>
		<div class="errorFont">
			页面丢了，请重新登录！
		</div>
		<div class="errorBtn">
			<button>确定</button>
		</div>
	</div>

</body>
</html>