{include file="public/userHead" /}
<div class="memberCenterRight">
	<div class="cashForm">

		<div class="cashContainer">
			<div class="cashBottom">
				<div class="cashBottomTitle"><span>收款银行账号:</span></div>
				<div class="cashBottomBank">
					选择银行:
					<select>
						<option>中国工商银行(1388)</option>
					</select>
				</div>

				<div class="cashBottomName">
					开户姓名:<span>许健</span>
				</div>

				<div class="cashBottomName">
						银行账号:<span>6222 0210 0100 7941 388</span>
					</div>

				<div class="cashBottomMoney">
					兑换金额:
					<input type="text">
					<font>*</font>请输入或选择充值金额
				</div>

				<div class="cashBottomBtn" style="margin-top:22px">
					<button>￥100</button>
					<button>￥300</button>
					<button class="active">￥500</button>
					<button>￥800</button>
					<button>￥1000</button>
				</div>
				<div class="cashBottomBtn">
						<button>￥2000</button>
						<button>￥3000</button>
						<button>￥5000</button>
						<button>￥10000</button>
						<button>￥50000</button>
					</div>
			</div>
			<div class="cashBtn">
				<a href="/exchange/loading">确认兑换</a>
			</div>
		</div>
	</div>
</div>
{include file="public/userFoot" /}