{include file="public/userHead" /}
<div class="memberCenterRight">
    <div class="cashForm">
        <div class="cashWaitFont">等待客服确认中...</div>

        <div class="cashWaitBottom">
            <div class="cashWaitTitle"><span>中国工商银行</span></div>
            <div class="cashWaitBottomContent">
                <div class="cashWaitBottomTitle">
                    银行账号:
                    <div>6222 0210 0100 7941 388</div>
                </div>
                <div class="cashWaitBottomTitle">
                    开户姓名:<span>大宝剑</span>
                </div>
                <div class="cashWaitBottomTitle">
                    兑换金额:<span>5,000</span>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/userFoot" /}