{include file="public/userHead" /}
<div class="memberCenterRight">
	<div class="bankAddView">
		<div class="cashType">
			<a href="/user/changePassword/login" {if $type eq "login"}class="active"{/if}>修改登录密码</a>
			<a href="/user/changePassword/exchange" {if $type eq "exchange"}class="active"{/if}>修改提现密码</a>
		</div>
		<form id="form">
			<div class="bankAddForm">
				{if $first eq 0}
				<div>
					<span>
						<font>*</font>原密码
					</span>
					<input type="password" id="oldPassword">
					<span class="bankTip">
						<font>*</font>请输入原密码
					</span>
				</div>
				{/if}
				<div>
					<span>
						<font>*</font>新密码
					</span>
					<input type="password" id="newPassword">
					<span class="bankTip">
						<font>*</font>请输入新密码
					</span>
				</div>
				<div>
					<span>
						<font>*</font>密码确认
					</span>
					<input type="password" id="againPassword">
					<span class="bankTip">
						<font>*</font>请再次输入密码
					</span>
				</div>
				<div class="bankAddBtn">
					<button type="button" id="change">确认修改</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	$("#change").click(function () {
        var oldPassword = $("#oldPassword").val();
        var newPassword = $("#newPassword").val();
        var againPassword = $("#againPassword").val();
        {if $first eq 0}
        if(oldPassword==""||oldPassword==undefined||oldPassword==null){
			layer.msg('原密码不能为空');
			return;
		}
        {/if}
		if(newPassword==""||newPassword==undefined||newPassword==null){
            layer.msg('新密码不能为空');
            return;
        }else if(againPassword==""||againPassword==undefined||againPassword==null){
            layer.msg('确认密码不能为空');
            return;
        }else if(newPassword.length<6){
            layer.msg('新密码不能小于6位数！');
            return;
        }else if(againPassword!=newPassword){
            layer.msg('两次密码不相同！');
            return;
        }
        var load = layer.load(1, { shade: [0.01, '#fff'] });
        var url;
        {if $type eq "login"}
        	url = "/user/change?type=login";
        {else/}
            url = "/user/change?type=exchange";
        {/if}
        $.ajax({
            type: "put", //传值类型
            url: url, //路径
            data: { old_password: oldPassword,new_password:newPassword, r_password: againPassword },//要传的值，和键名
            dataType: "json",
            success: function (data) {
                layer.close(load);
				layer.msg(data.code)
				if(data.code==1){
				    $("input").val("");
				}
            },
            error: function () {
                layer.close(load);
                layer.confirm('网络错误', {
                    btn: ['确认'], //按钮
					title: '提示',
					icon:5
                });
            }
        })
    })
</script>


{include file="public/userFoot" /}