{include file="public/userHead" /}
<div class="memberCenterRight">
	<div class="userAlertContainer">

		<div class="userAlertInfo">
			<div class="userTopInfo">
				<div class="userTopLeft">
					<div class="userTopLeftTop">
						<ul class="userInfo">
							<li class="alertUserName">灰太郎大人(yu1005)
							</li>
							<li class="alertUserName">账户余额(游戏币)</li>
							<li class="alertUserMoney">876,000,000,000</li>
						</ul>
						<div class="headPortrait">
							<img src="/static/index/img/people/4.png">
						</div>
					</div>
					<div class="userTopLeftBottom">
						<div class="userMoneyTop">
							<div class="userDeposit">
								存款:9,876,543,210
							</div>
							<div class="userIntegral">
								9,876,543,210积分
							</div>
						</div>
						<div class="userMoneyBottom">
							<div class="goldCoin">金币:78,900,011,290</div>
							<div class="alertUserLv">
								<span>Lv2:</span>
								<div class="layui-progress">
									<div class="layui-progress-bar layui-bg-orange" lay-percent="30%" style="width: 30%;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="userTopRight">
					<ul class="userTopRightGameNav">
						<li class="fieldFather">
							<div>
								<div class="fieldBg"></div>
							</div>
							<div>
								<div>游戏总场次</div>
								<div>(99080)</div>
							</div>
						</li>
						<li class="probabilityFather">
							<div>
									<div class="probabilityBg"></div>
							</div>
							<div>
								<div>胜率</div>
								<div>(80%)</div>
							</div>
						</li>
						<li class="pokerFather">
							<div>
									<div class="pokerBg"></div>
							</div>
							<div>
								<div>最大牌型</div>
								<div>(♠AAAKK)</div>
							</div>
						</li>
						<li class="integralFather">
							<div>
									<div class="integralBg"></div>
							</div>
							<div>
								<div>获得积分</div>
								<div>(123123)</div>
							</div>
						</li>
					</ul>
				</div>
			</div>


			<div class="searchForm">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-inline">
							<div class="layui-input-inline">
								<select name="modules" lay-verify="required" lay-search="">
									<option value="0">输</option>
									<option value="1">赢</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-input-inline">
								<input type="text" class="layui-input" value="2018-01-10">
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-input-inline">
								<input type="text" class="layui-input" value="2018-02-10">
							</div>
						</div>
						<button class="layui-btn">确认</button>
					</div>
				</form>
			</div>
			<table class="defaultTable">
				<thead>
					<tr>
						<th>游戏时间</th>
						<th>游戏币</th>
						<th>牌型</th>
						<th>获得积分</th>
						<th>游戏结果</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2018-9-27 13:13</td>
						<td>+2,000</td>
						<td>高牌</td>
						<td>100</td>
						<td>胜</td>
					</tr>
					<tr>
						<td>2018-9-27 13:13</td>
						<td>-2,000</td>
						<td>同花</td>
						<td>100</td>
						<td>输</td>
					</tr>
					<tr>
						<td>2018-9-27 13:13</td>
						<td>-2,000</td>
						<td>对子</td>
						<td>100</td>
						<td>输</td>
					</tr>
					<tr>
						<td>2018-9-27 13:13</td>
						<td>+2,000</td>
						<td>高牌</td>
						<td>100</td>
						<td>胜</td>
					</tr>
				</tbody>
			</table>
			<div class="tablePage">
				<div id="layui-table-page1">
					<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-2"><a href="javascript:;" class="layui-laypage-prev layui-disabled"
						 data-page="0"><i class="layui-icon"></i></a><span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span><a
						 href="javascript:;" data-page="2">2</a><a href="javascript:;" data-page="3">3</a><span class="layui-laypage-spr">…</span><a
						 href="javascript:;" class="layui-laypage-last" title="尾页" data-page="100">100</a><a href="javascript:;" class="layui-laypage-next"
						 data-page="2"><i class="layui-icon"></i></a><span class="layui-laypage-skip">到第<input type="text" min="1" value="1"
							 class="layui-input">页<button type="button" class="layui-laypage-btn">确定</button></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public/userFoot" /}