{include file="public/userHead" /}
<div class="memberCenterRight">
	<div class="cashForm">
		<div class="cashType" style="margin-bottom:0">
			<a href="/user/userImage">我的虚拟形象</a>
			<a href="/user/myProp" class="active">我的道具</a>
		</div>
		<ul class="propContent propScroll">
			<li>
					<div class="propImg">
							<img src="/static/index/img/prop1.png">
					</div>
					<div class="shopMoney">
							<div class="propName">名　称:建房卡</div>
							<div class="money">金　币:10.000.000</div>
							<div class="gameMoney">游戏币:90.000.000</div>
					</div>
			</li>
			<li>
				<div class="propImg">
						<img src="/static/index/img/prop1.png">
				</div>
				<div class="shopMoney">
						<div class="propName">名　称:建房卡</div>
						<div class="money">金　币:10.000.000</div>
						<div class="gameMoney">游戏币:90.000.000</div>
				</div>
		</li>
			<li>
					<div class="propImg">
							<img src="/static/index/img/prop2.png">
					</div>
					<div class="shopMoney">
							<div class="propName">名　称:双倍积分</div>
							<div class="money">金　币:10.000.000</div>
							<div class="gameMoney">游戏币:90.000.000</div>
					</div>
			</li>
			<li>
					<div class="propImg">
							<img src="/static/index/img/prop3.png">
					</div>
					<div class="shopMoney">
							<div class="propName">名　称:经验卡</div>
							<div class="money">金　币:10.000.000</div>
							<div class="gameMoney">游戏币:90.000.000</div>
					</div>
			</li>
			<li>
					<div class="propImg">
							<img src="/static/index/img/prop4.png">
					</div>
					<div class="shopMoney">
							<div class="propName">名　称:改名卡</div>
							<div class="money">金　币:10.000.000</div>
							<div class="gameMoney">游戏币:90.000.000</div>
					</div>
			</li>
			<li>
				<div class="propImg">
						<img src="/static/index/img/prop1.png">
				</div>
				<div class="shopMoney">
						<div class="propName">名　称:建房卡</div>
						<div class="money">金　币:10.000.000</div>
						<div class="gameMoney">游戏币:90.000.000</div>
				</div>
		</li>
		<li>
			<div class="propImg">
					<img src="/static/index/img/prop1.png">
			</div>
			<div class="shopMoney">
					<div class="propName">名　称:建房卡</div>
					<div class="money">金　币:10.000.000</div>
					<div class="gameMoney">游戏币:90.000.000</div>
			</div>
	</li>
		<li>
				<div class="propImg">
						<img src="/static/index/img/prop2.png">
				</div>
				<div class="shopMoney">
						<div class="propName">名　称:双倍积分</div>
						<div class="money">金　币:10.000.000</div>
						<div class="gameMoney">游戏币:90.000.000</div>
				</div>
		</li>
		<li>
				<div class="propImg">
						<img src="/static/index/img/prop3.png">
				</div>
				<div class="shopMoney">
						<div class="propName">名　称:经验卡</div>
						<div class="money">金　币:10.000.000</div>
						<div class="gameMoney">游戏币:90.000.000</div>
				</div>
		</li>
		<li>
				<div class="propImg">
						<img src="/static/index/img/prop4.png">
				</div>
				<div class="shopMoney">
						<div class="propName">名　称:改名卡</div>
						<div class="money">金　币:10.000.000</div>
						<div class="gameMoney">游戏币:90.000.000</div>
				</div>
		</li>
		<li>
			<div class="propImg">
					<img src="/static/index/img/prop1.png">
			</div>
			<div class="shopMoney">
					<div class="propName">名　称:建房卡</div>
					<div class="money">金　币:10.000.000</div>
					<div class="gameMoney">游戏币:90.000.000</div>
			</div>
	</li>
	<li>
		<div class="propImg">
				<img src="/static/index/img/prop1.png">
		</div>
		<div class="shopMoney">
				<div class="propName">名　称:建房卡</div>
				<div class="money">金　币:10.000.000</div>
				<div class="gameMoney">游戏币:90.000.000</div>
		</div>
</li>
	<li>
			<div class="propImg">
					<img src="/static/index/img/prop2.png">
			</div>
			<div class="shopMoney">
					<div class="propName">名　称:双倍积分</div>
					<div class="money">金　币:10.000.000</div>
					<div class="gameMoney">游戏币:90.000.000</div>
			</div>
	</li>
	<li>
			<div class="propImg">
					<img src="/static/index/img/prop3.png">
			</div>
			<div class="shopMoney">
					<div class="propName">名　称:经验卡</div>
					<div class="money">金　币:10.000.000</div>
					<div class="gameMoney">游戏币:90.000.000</div>
			</div>
	</li>
	<li>
			<div class="propImg">
					<img src="/static/index/img/prop4.png">
			</div>
			<div class="shopMoney">
					<div class="propName">名　称:改名卡</div>
					<div class="money">金　币:10.000.000</div>
					<div class="gameMoney">游戏币:90.000.000</div>
			</div>
	</li>
	</ul>
	</div>
</div>
{include file="public/userFoot" /}