{include file="public/userHead" /}
<div class="memberCenterRight">
	<div class="userAlertContainer">

		<div class="userAlertInfo">
			<div class="userTopInfo">
				<div class="userTopLeft">
					<div class="userTopLeftTop">
						<ul class="userInfo">
							<li class="alertUserName">灰太郎大人(yu1005)
							</li>
							<li class="alertUserName">账户余额(游戏币)</li>
							<li class="alertUserMoney">876,000,000,000</li>
						</ul>
						<div class="headPortrait">
							<img src="/static/index/img/people/4.png">
						</div>
					</div>
					<div class="userTopLeftBottom">
						<div class="userMoneyTop">
							<div class="userDeposit">
								存款:9,876,543,210
							</div>
							<div class="userIntegral">
								9,876,543,210积分
							</div>
						</div>
						<div class="userMoneyBottom">
							<div class="goldCoin">金币:78,900,011,290</div>
							<div class="alertUserLv">
								<span>Lv2:</span>
								<div class="layui-progress">
									<div class="layui-progress-bar layui-bg-orange" lay-percent="30%" style="width: 30%;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="userTopRight">
					<ul class="userTopRightTop">
						<li>
							<div class="serviceBg"></div>
							<div class="serviceBgFather" onclick="window.location.href='/service/list'">
								<img src="/static/index/img/cn_10.png">
							</div>
						</li>
						<li>
							<div class="capitalBg"></div>
							<div class="capitalBgFather" onclick="window.location.href='/wallet/logList'">
								<img src="/static/index/img/cn_11.png">
							</div>
						</li>
						<li>
							<div class="gameInfoBg"></div>
							<div class="gameInfoBgFather" onclick="window.location.href='/user/gameIndex'">
								<img src="/static/index/img/cn_12.png">
							</div>
						</li>
						<li>
							<div class="gameShopMallBg"></div>
							<div class="gameShopMallBgFather" onclick="window.location.href='/user/vault'">
								<img src="/static/index/img/operation/vault.png">
							</div>
						</li>
					</ul>
					<ul class="userTopRightName">
						<li>客服中心</li>
						<li>资金管理</li>
						<li>游戏信息</li>
						<li>我的金库</li>
					</ul>
					<img src="/static/index/img/step.png">
				</div>
			</div>

			<div class="vault">
				<div class="vaultLeft">
					<div class="vaultTitle">
						<span>储存游戏币</span>
						<a>查看日志</a>
					</div>

					<div class="vaultContent">
						<div class="vaultForm">
							<span>可储存游戏币:</span>
							<input type="text">
							<button class="vaultLeftBtn">存入</button>
						</div>
						<div class="vaultFont">
							<div class="vaultFontTitle">
								<span>注意事项:</span>
							</div>

							<ul class="vaultFontContent">
								<li>
									<span>*游戏币是您可以从游戏中,或购买道具中获得的。</span>
								</li>
								<li>
									<span>*金币可以1：1000000转换为游戏币。</span>
								</li>
								<li>
									<span>*金币转换的最小单位为1。</span>
								</li>
								<li>
									<span>*您储存游戏币必须始终为金币一的倍数。</span>
								</li>
							</ul>
						</div>


						<div class="vaultChangePwd">
							<div class="vaultChangePwdForm">
									<div class="vaultChangePwdTitle"><span>设置金库密码</span></div>
								<ul>
									<li>
										<span>原密码</span>
										<input type="password">
									</li>
									<li>
										<span>新密码</span>
										<input type="password">
									</li>
									<li>
										<span>密码确认</span>
										<input type="password">
									</li>
									<li>
										<button>修改</button>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
				<div class="vaultRight">
					<div class="vaultTitle">
						<span>提取游戏币</span>
						<a>查看日志</a>
					</div>

					<div class="vaultContent">
						<div class="vaultForm">
							<span>可提取游戏币:</span>
							<input type="text">
							<button class="vaultLeftBtn">提出</button>
						</div>
						<div class="vaultForm">
							<span>金库密码:</span>
							<input type="password">
						</div>
						<div class="vaultFontTitle">
							<span>注意事项:</span>
						</div>
						<ul class="vaultFontContent">
							<li>
								<span>*游戏币是您可以从游戏中,或购买道具中获得的。</span>
							</li>
							<li>
								<span>*金币可以1：1000000转换为游戏币。</span>
							</li>
							<li>
								<span>*金币转换的最小单位为1。</span>
							</li>
							<li>
								<span>*您储存游戏币必须始终为金币一的倍数。</span>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>
{include file="public/userFoot" /}